navbar a{
    float:left;
    color:blueviolet; 
    text-align: center;
    padding:16px 18px;
    font-size:17px;
}
.welcome-section{
    height: 500px;
  background-color: rosybrown (8, 3, 5)
  padding: 200px;
  font:size 1000px;
height: 400px;
width: 100%;
}
.welcome-section h1{
    font-size:20px;
    text-align: center;
}
.profile-link{`
    height: 200px;
    background-color: rgb(6, 22, 22);
    padding: 50px;
    font:size 40px,
    color: rgb(19, 196, 48);
    text-align:center;
}